*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
}
img {
    width: 100%;
    height: 100%;
}

.inline-wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* メニューバー */
.nav {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    bottom: auto; 
}
.nav_logo {
    text-align: center;
}
.nav_logo h1 {
    width: auto;
    height: 80px;
}

.move {
    animation: shake 0.8s 0s linear 1 normal;
}
@keyframes shake {
    0% {rotate: 10deg;}
    15% {rotate: -20deg;}
    30% {rotate: 20deg;}
    45% {rotate: -20deg;}
    68% {rotate: 20deg;}
    85% {rotate: -20deg;}
    100% {rotate: 10deg;}
  }












.nav_logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.nav-list {
    width: 800px;
    display: flex;
}
.nav-list li {
    width: calc(800px / 6);
    line-height: 80px;
    text-align: center;
}
.nav-list a {
    font-weight: bold;
}

/* メニューのホバー画 */
.y-01,
.y-02,
.blue {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.5s;
}
.y-01-active{
    background-image: url(../img/bar_big.png) ;
    scale: 1.5;
}
.y-02-active {
    background-image: url(../img/bar_small.png);
    scale: 1.5;
}
.blue-active {
    background-image: url(../img/bar_blue.png);
    scale: 1.5;
}


.sns {
    width: 250px;
}
.sns ul {
    display: flex;
    height: 80px;
    align-items: center;
}
.sns li {
    width: 50px;
    margin: 0 20px 0 0 ;
    transition: all 0.5s;
}
.sns li:hover {
    scale: 1.6;
}
.sns a {
    display: block;
    width: 100%;
    height: 50px;
}





/* 背景 */
.back {
    padding: 100px 0;
}
.back p {
    padding: 100px 0 500px 0;
}